---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-front-deploy
  labels:
    name: {{ .Release.Name }}-front-deploy
    app: bc_27
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      name: {{ .Values.front.name }}-pod
      app: bc_27    
  template:
    metadata:
      name: {{ .Values.front.name }}-pod
      labels:
        name: {{ .Values.front.name }}-pod
        app: {{ .Values.app }}
    spec:
      containers:
        - name: {{ .Values.conatiner.name1 }}
          image: "{{ .Values.image1.repository }}"
          ports:
            - containerPort: 80
        
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-back-deploy
  labels:
    name: {{.Release.Name }}-back-deploy
    app: bc_27
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      name: {{ .Values.back.name }}-pod
      app: bc_27
  template:
    metadata:
      name: {{ .Values.back.name }}-pod
      labels:
        name: {{ .Values.back.name }}-pod
        app: bc_27
    spec:
      containers:
        - name: {{ .Values.conatiner.name1 }}
          image: "{{ .Values.image2.repository }}"
          ports:
            - containerPort: 8090
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: {{ .Values.secert.SpringProfile }}
            - name: spring_datasource_username
              value: {{ .Values.secert.Spring_user }} 
            - name: spring_datasource_password
              value: {{ .Values.secert.Spring_passwd }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  labels:
    name: mysql
    app: bc_27
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      name: mysql-pod
      app: bc_27
    
  template:
    metadata:
      name: mysql-pod
      labels:
        name: mysql-pod
        app: bc_27
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_USER
              value: {{ .Values.secert.Spring_user }} 
            - name: MYSQL_PASSWORD
              value: {{ .Values.secert.Spring_passwd }}
            - name: MYSQL_ROOT_PASSWORD
              value: {{ .Values.secert.Spring_passwd }}
            - name: MYSQL_DATABASE
              value: {{ .Values.secert.db}}
