---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-front-service
  labels:
    name: {{ .Release.Name }}-front-service
    app: bc_27
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
  selector:
    name: {{ .Values.front.name }}-front-pod
    app: bc_27

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.back.name }}-back-service
  labels:
    name: {{ .Release.Name }}-back-service
    app: bc_27
spec:
  type: LoadBalancer
  ports:
    - port: 8090
      targetPort: 8090
  selector:
    name: {{ .Values.back.name }}-back-pod
    app: bc_27

---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  labels:
    name: mysql-service
    app: bc_27
spec:
  ports:
    - port: 3306
      targetPort: 3306
  selector:
    name: mysql-pod
    app: bc_27