 name: CI/CD

 on:
   # Triggers the workflow on push or pull request events but only for the  branch
   push:
     branches: [master, deploy,]

 env:
   DOCKER_CONTAINER_NAME: "green-commute"
   DOCKER_CONATINER_NAME_DB: "backend"
   GITHUB_PACKAGE_URL: https://ghcr.io
   AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
   AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}


 jobs:

   backend:
     runs-on: ubuntu-latest
     if: ${{ github.event_name == 'push' }}
     defaults:
       run:
        
         working-directory: backend

     steps:
       - name: checkout the repo
         uses: actions/checkout@v2

       - name: Set up JDK 1.8
         uses: actions/setup-java@v1
         with:
           java-version: 13.0.7
       - name: Build
         run: mvn -DskipTests=true package --file pom.xml

       - name: Login to Docker Hub
         uses: docker/login-action@v1
         with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

       - name: extract branch name
         run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
         id: extract_branch

       - name: building image for backend
         run: docker build  -t backdeployment .

       - name: display docker image name
         run: docker tag backdeployment "${{ secrets.DOCKERHUB_USERNAME }}/backdeployment:${{ github.run_id }}"

       - name: push image to github repo
         run: docker push "${{ secrets.DOCKERHUB_USERNAME }}/backdeployment:${{ github.run_id }}"
  
   frontend:
      runs-on: ubuntu-latest
      if: ${{ github.event_name == 'push' }}
      defaults:
        run:
          working-directory: frontend
      steps:
       - name: checkout the repo
         uses: actions/checkout@v2

       - name: building image for frontend
         run: docker build -t frontdeployment .

       - name: Login to Docker Hub
         uses: docker/login-action@v1
         with:
           username: ${{ secrets.DOCKERHUB_USERNAME }}
           password: ${{ secrets.DOCKERHUB_TOKEN }}

       - name: extract branch name
         run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
         id: extract_branch

       - name: building image for backend
         run: docker build  -t frontdeployment .

       - name: display docker image name
         run: docker tag frontdeployment "${{ secrets.DOCKERHUB_USERNAME }}/frontdeployment:${{ github.run_id }}"

       - name: push image to github repo
         run: docker push "${{ secrets.DOCKERHUB_USERNAME }}/frontdeployment:${{ github.run_id }}"


   deploy:
      runs-on: ubuntu-latest
      needs:
        - frontend
        - backend
      steps:
       - uses: actions/checkout@v2

       - name: login to github packages
         run: docker login ${{ env.GITHUB_PACKAGE_URL }} -u ${{ secrets.REGISTRY_USERNAME }} --password ${{ secrets.REGISTRY_TOKEN }}

       - name: AWS Credentials
         uses: aws-actions/configure-aws-credentials@v1
         with:
           aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
           aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
           aws-region: us-east-1

       - name: login to github packages
         run: docker login ${{ env.GITHUB_PACKAGE_URL }} -u ${{ secrets.REGISTRY_USERNAME }} --password ${{ secrets.REGISTRY_TOKEN }}
        
       - name: helm deploy
         uses: koslib/helm-eks-action@master
         env:
           KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
         with:
          command: helm upgrade -i v1 bc_27 --set=image1.tag={{ github.run_id }} --set=image2.tag=${{ github.run_id }}


        